<!DOCTYPE html>
<html>

<head>
  <link data-require="bootstrap@4.0.5" data-semver="4.0.5" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
  <script data-require="bootstrap@4.0.5" data-semver="4.0.5" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
  <style>
	header h1 {
		text-align: center;
	}
	

  </style>
</head>

<body>
  <header>
    <br><br><h1>Login</h1> <br>
  </header>
  <div class="row">
  <div class="col-md-4"></div>
  <section class="col-md-4">
    <form method="post" action="/authenticate">
    <label>
            <% if( typeof(errorMessage) !== 'undefined' ) {%>
              <h5 align="center" class="margin-base-vertical"><code><%=errorMessage%></code></h5>
            <%}%>
          </label>
      <div class="form-group">        
        <label for="email" >Chat name:</label>
        <input type="text" name="chatname" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" name="password" class="form-control" id="pwd">
      </div>
      <div class="checkbox">
        <label>
          <a href='/register'>Register me</label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
	</div>
  </section>
</body>

</html>